<mat-sidenav-container autosize="true">
  <mat-sidenav class="rounded-0" [ngClass]="!isCollapsed ? 'expanded' : 'w-auto'" [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">
    <mat-nav-list (click)="onMenuItemClick()">
      <a mat-list-item *ngxPermissionsOnly="'admin'">
        <span class="entry d-flex align-items-center justify-content-center gap-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon>house</mat-icon>
          <span *ngIf="!isCollapsed">Home</span>
        </span>
      </a>
      <a mat-list-item *ngxPermissionsOnly="'admin'">
        <span class="entry d-flex align-items-center justify-content-center gap-2" routerLink="/user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon>person</mat-icon>
          <span *ngIf="!isCollapsed">Users</span>
        </span>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-fluid mt-3">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>